@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --blue: #43bbff;
    --white: #fff;
    --darkblue: blue;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: block;
    padding: 0px 8%;
}

/* navbar */
.icons {
    display: none;
}

.fa-bars,
.fa-xmark {
    color: var(--white);
    font-size: 20px;
}



.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dr-logo img {
    height: 100%;
    width: 50px;
    margin-top: 5px;
}

.logo {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-box {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;

}

.box-text {
    padding: 0px 15px;
}

.header {
    padding: 5px 0px 0px 0px;
}

.countrys {
    display: flex;
    align-items: center;
}

.countrys select {
    width: 100%;
    max-width: 18px;
    padding: 0px 5px;
    border: none;
}

/*  1 st section */
.navbar ul {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px;
}

.search-bar {
    background-color: var(--darkblue);
    color: var(--white);
    font-size: 24px;
    font-weight: lighter;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar li {
    padding-right: 10px 5px;
}

li {
    text-decoration: none;
    list-style: none;
}

.navbar {

    background: var(--blue);
}

.navbar ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    padding: 4px 5px;
}

.search-bar input {
    background-color: var(--darkblue);
    outline: none;
    border: none;
    color: var(--white);
    font-size: 16px;
    padding: 0px 10px;
    width: 100%;
    max-width: 150px;
}

.fa-magnifying-glass {
    font-size: 20px;
}


.cover-img {
    background: url("../assets/image/bons-cover.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;

    color: var(--white);

}

.cover-text {
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px 0px;
}

.span-red {
    color: rgb(243, 0, 0);
    font-weight: 700;
    font-size: 17px;
}



.btn {
    color: var(--white);
    background-color: var(--darkblue);
    padding: 8px 30px;
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;

}

nav {
    border-bottom: .5px solid #999;


}

.list {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0px;

}

.list li {
    text-decoration: none;
    list-style: none;
}

.list li a {
    color: #555;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

.border {
    padding: 40px 0px;
    border-bottom: 2px dashed var(--blue);
}


.border-none {
    padding: 0px;
    border-bottom: 2px dashed var(--blue);
}

.Overview .box-2 {
    flex: 1;
}

.box-2 p {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    color: #444;
}

.Overview .box-2 img {
    height: 100%;
    width: 100%;
    padding-left: 40px;
}

/* overview section end */
.box-3 {
    border-bottom: 2px dashed var(--blue);
    padding: 40px 0px;
}

.fa-circle-dot {
    color: var(--blue);
    font-size: 10px;
    padding-right: 15px;
}

.content .row {
    align-items: flex-start;
}

.input-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25vw;
    padding: 20px 20px;
    box-shadow: 0px 0px 25px -20px #555;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.input-card input {
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
    outline: none;
    border: 1px solid grey;
    color: #999;
}

.content .row-2 .box-2:first-child {
    flex: 2;
    padding-right: 50px;
}







/* FAQ Styling */
.nav-wrapper {
    width: 100%;
}

.box-2 h2 {
    padding: 20px 0px;
}

.nav-item {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.nav-item-inner-heading {
    position: relative;
    padding: 1rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-item-inner-heading:before {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1rem;
    color: var(--blue);
    margin-right: 10px;
}


.nav-item-inner-heading.minus:before {
    content: "\f068";
}

.nav-sub-list {
    display: none;
    font-size: .9rem;
    padding: 0 1rem 1rem;
    background-color: var(--white);
}

.nav-sub-list-inner {
    padding: 0 .75rem;
}

.nav-sub-item {
    padding-left: .75rem;
    margin-top: .375rem;
    font-style: italic;
}


/* blog section */
.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card {
    width: 100%;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20px;
}

.card img {
    width: 24vw;
    height: 100%;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.fa-quote-right {
    font-size: 30px;
    color: rgb(255, 70, 70);

}

.card-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.card-bottom img {
    width: 50px !important;
    height: 100%;
}

.card-bottom-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.p-40 {
    padding: 40px 0px;
}

/* top doctor section */
.doctor-team {
    background-color: var(--white);
    padding: 60px 0px;
}

.doctor-team .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title h3 {
    color: red;
    margin-bottom: 5px;
}

.title h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
}

.title .span-blue {
    font-size: 28px;
    font-weight: 600;
}

.dr-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dr-card {
    background-color: var(--white);
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 28px -20px #555;

}

.dr-card img {
    max-height: 300px;
    width: 100%;
    max-width: none;
}

.dr-card h4 {
    color: rgb(255, 34, 34);
}

.dr-card p {
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

.dr-card small {
    color: #777;
    font-weight: 500;
}


.span-blue {
    color: var(--blue);
    padding-right: 10px;
    font-size: 18px;
}

/* ======= Hospitals ======== */
.Hospitals {
    background-color: var(--white);
}

.Hospitals .dr-card {
    padding: 0px 0px;
    border: 1px dashed rgb(255, 34, 34);
    border-radius: 8px;
    box-shadow: none;
}

.Hospitals .dr-card img {
    max-width: 400px;
    height: 100%;
    max-height: 400px;

}

.Hospitals .dr-card p {
    padding: 10px 0px;
    font-size: 20px;
}

.Hospitals .dr-card h4 {
    padding-bottom: 15px;
}

.title p {
    margin-top: 30px;
    font-size: 1.2rem;
}

.title p .span-red {
    text-decoration: underline;


}


/* ========= Footer ======== */
.footer {
    margin-top: 50px;
}

.footer p {
    color: var(--white);
}

.footer-header {
    background-color: var(--blue);
    color: var(--white);
    padding: 30px 0px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.footer-header p {
    font-size: 20px;
    font-weight: 500;
}

.footer-header h3 {
    /* font-size: 38px; */
    font-weight: 500;
}

.footer-header h3 {
    font-size: 22px;
    font-weight: 600;
}

.footer-header .btn {
    font-size: 18px;
    font-weight: 500;
    background-color: var(--darkblue);
}

.footer-links {
    background-color: #0b2432;
    color: var(--white);
    padding: 30px 0px;
}

.footer-links .row {
    align-items: flex-start;
    padding-bottom: 30px;
}

.footer-links li {
    list-style: none;
    font-size: 13px;
    cursor: pointer;
}

.footer-links .box-2 {
    padding: 0px 10px;

}

.footer-links h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.footer-links hr {
    border: .5px solid #666;
}

.footer-content .box-2 h5 {
    color: #4992ff;
    font-size: 20px;
}

.footer-content {
    background-color: #0b2432;
    color: var(--white);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-logo img {
    width: 300px;
}

.social-icons img {
    width: 26px;
    height: 100%;
    margin: 5px;
}

.footer-text {
    width: 100%;
    max-width: 500px;
    margin: 0px 20px;
}

.footer-end {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 0px;
}

.footer-end p {
    font-weight: 500;

}




.btn {
    color: var(--white);
    background-color: var(--darkblue);
    padding: 8px 30px;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(0, 0, 133);
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* slider */




/* responsive  */
/* Default heading styles */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.8em;
}

p {
    font-size: 0.8em;
    /* Base font size */
}




li {

    font-size: 1rem;
    line-height: 1.5rem;

}







/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* CSS */
    .container {
        display: block;
        padding: 0px 8%;
    }

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */
    .container {
        display: block;
        padding: 0px 5%;
    }

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */
    .container {
        display: block;
        padding: 0px 3%;
    }

    p {
        font-size: 0.6em;
        /* Larger font size for desktops */

    }

    .footer-content .box-2 h5 {
        font-size: 0.9em;

    }

    .main-logo img {
        width: 230px;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5 {
        font-size: 0.8em;
    }

    h6 {
        font-size: 0.6em;
    }

    p {
        font-size: 0.6em;
        /* Base font size */
    }

    .footer-text small {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

}

@media screen and (max-width: 992px) {
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
    }

    .navbar ul li a {
        text-decoration: none;
        color: var(--white);
        font-size: 13px;
        padding: 16px;
    }

    .input-card {

        width: 30vw;
    }


}



/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .icons {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .collume {
        flex-direction: column;
    }

    p {
        font-size: 0.5em;
        /* Slightly larger font for tablets */

    }

    li {

        font-size: 0.6rem;
        line-height: 1rem;

    }

    /* CSS */

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.8em;
    }

    h6 {
        font-size: 0.6em;
    }

    p {
        font-size: 0.6em;
        /* Base font size */
    }

    .navbar ul li a {
        text-decoration: none;
        color: var(--white);
        /* font-size: 11px; */
        padding: 0;
        font-size: 15px;
        line-height: 29px;

    }



    .container {
        display: block;
        padding: 0px 2%;
    }

    .content .row {
        align-items: flex-start;
        flex-direction: column;
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
    }

    .footer-links .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;


    }


    .footer-text {
        width: 100%;
        max-width: 500px;
        padding: 37px 0px;
        margin: 0px 20px;
    }

    .input-card {
        width: 100vw;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    /* CSS */
    .navbar ul {
        display: none;
    }

    .icons {
        display: block;
    }

    .list {
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 20px;
        flex-wrap: wrap;
    }

    .collume {
        flex-direction: column;
    }

    .input-card {
        width: 100vw;
    }

    .footer-links .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;


    }

    .footer-header .btn {
        font-size: 15px;
    }

    .footer-header h3 {
        font-size: 17px;
    }

    p {
        font-size: 0.5em;
        /* Slightly smaller text for smaller screens */

    }

    li {

        font-size: 0.6rem;

    }

    .container {
        display: block;
        padding: 0px 2%;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.8em;
    }

    h6 {
        font-size: 0.6em;
    }

    p {
        font-size: 0.6em;
        /* Base font size */
    }

    .content .row {
        align-items: flex-start;
        flex-direction: column;
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
    }

    .pad-top {

        padding: 37px 0px;
        margin: 0px 20px;
    }

    .box-2 p {
        font-size: 10px;
    }

}

.touch {
    display: flex !important;
    justify-content: center !important;

}
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sk-folding-cube {
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
